*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
header {
    height: 60px;
    background-color: #ffffff;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0 20px;
    box-shadow: 0 20px 40px rgba(181, 182, 184, 0.1);
    width: 96%;
}
/* Logo */
.web-name {
    display: flex;
    align-items: center;
    gap: 5px;
}
.web-name i{ font-size: 1.5rem; }

/* Center menus */
.menus {
    display: flex;
    align-items: center;
    flex: 1;                
    justify-content: space-evenly; 
}
.search-bar-main {
    display: flex;
    align-items: center;
    gap: 5px;
}

.search-bar-main input {
    padding: 8px;
    font-size: 1rem;
}

.search-bar-main button {
    padding: 8px 15px;
    background: #1D4ED8;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 1rem;
}

/* Links */
a {
    font-size: 1.2rem;
    text-decoration: none;
    color: black;
    white-space: nowrap;
}

a:hover {
    color: #1D4ED8;
    transition: 0.3s ease;
}
.login{
    font-size: 1.2rem;
    height: 35px;
    width: 70px;
    border-radius: 8px;
    border: 1.5px solid #1D4ED8;
    background-color: #ffffff;
}
.sign-up{
    font-size: 1.2rem;
    height: 35px;
    width: 90px;
    border-radius: 8px;
    background-color: #3B6FF0;
    border: none;
}
.sign-up:hover{
    background-color: #1D4ED8;
}
@media (max-width: 768px) {
    .hero {
        margin-top: 50px;
    }
}
.hero{
    display: flex;
    justify-content: center;
    align-items: center;
}
.hero-image{
    background-image: 
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url("hero-landing.jpg");
    background-size: cover;
    height: 91vh;
    width: 100%;
}
.hero-title{
    margin-top: 250px;
    text-align: center;
    color: white;
}
.job-group{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.title-job-group{
    text-align: center;
    margin-top: 70px;
    margin-bottom: 40px;
}
.box{
    height: 30px;
    width: 130px;
    border: 1px solid #1D4ED8;
    border-radius: 8px;
    color: black;
    padding: 10px;
    text-align: center;
    font-size: 1.3rem;
}
.about{
    margin-top: 70px;
    background-color: #E7EBF7;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 20px 5%;
}
.about-image{
    background-image: url(image-1.jpg);
    background-size: cover;
    height: 400px;
    min-width: 180px;
    min-height: 200px;
    width: auto;
    flex: 1;
}
.about-desc h2{
    text-align: center;
    margin-bottom: 30px;
}
.about-desc{
    flex: 1;
    font-size: 1.5rem;
    padding: 50px;
    line-height: 45px;
}
.review-title{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 70px;
}
.Testimonials{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.review-box{
    height: 180px;
    width: 380px;
    border-radius: 8px;
    box-shadow: 0 20px 40px rgba(135, 132, 132, 0.1);
    font-size: 1.2rem;
    line-height: 30px;
    padding: 20px;
}
.review-box i{
    margin-bottom: 15px;
}
.name{
    color: #1D4ED8;
    font-size: 1.2rem;
    margin-top: 10px;
}
footer{
    margin-top: 70px;
    height: 280px;
    width: auto;
    line-height: 40px;
    background-color: #1E3A8A;
    color: white;
    padding-top: 50px;
}
.footer-top{
    display: flex;
    justify-content: space-evenly;
}
.footer-bottom{
    border-top: 1px solid rgba(255,255,255,0.3);
    padding-top: 20px;
    text-align: center;
    margin-top: 30px;
}
.footer-box h2{
    margin-bottom: 20px;
}
.footer-box a{
    color: white; 
}
.footer-box li{
    list-style-type: none;
}
.signup-background{
    background: linear-gradient(to bottom, #d9f1ff 0%, #ffffff 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signup-form{
    width: 300px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
    flex-wrap: wrap;
    flex-direction: column;
    padding: 20px;
    background-color: white;
}
label{
    font-size: 18px;
    display: block;
    margin-top: 20px;
    font-weight: 300;
}
.signup-form input{
    height: 10px;
    display: blocationk;
    width: 270px;
    padding: 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 0.5px solid black;
    margin-top: 8px;
}
.signup-form input::placeholder{
    font-size: 18px;
    color: grey;
}
select{
    height: 40px;
    display: block;
    width: 290px;
    padding: 2px 0px 2px 10px;
    font-size: 18px;
    border-radius: 10px;
    border: 0.5px solid black;   
    margin-top: 8px;    
}
#signup-submit{
    margin: 35px auto;
    display: blocationk;
    width: 290px;
    padding: 10px 10px -20px;
    text-align: center;
}
#signup-submit:hover {
    color: white;
    background-color: #3B6FF0;;
}
.hasaccount{
    font-size: 18px;
    display: inline;
    margin-left: 5px;
}
.go-to-login{
    color: blue;
}
.nopswd{
    font-size: 16px;
    color: blue;
    position: relative;
    left: 180px;
    top: 10px;
}
.reset{
    margin: 35px auto;
    display: blocationk;
    width: 290px;
    padding: 10px 10px -20px;
    text-align: center;
    height: 40px;
    font-size: 18px;
    color: black;
    background-color: #c8d3f4;
    border: 1px solid black;
}
.reset:hover{
    background-color: white;
    transition: 0.5s ease;
}
.menu-icons{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
    font-size: 18px;
}
.hero-img{
    flex: 1;
    background-image: url("https://www.excelsior.edu/wp-content/uploads/2022/03/22-819413_Difference-between-BS-Business-Management-and-BPS-Business-Management_1000x568-1000x568.jpg");
    background-size: cover;
    background-position: right;
    height: 350px;
    border-radius: 15px;
}
.main{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px;
    background: linear-gradient(to bottom, #dfeef7 0%, #ffffff 100%);
}
.main-title{
    flex: 1;
    font-size: 2rem;
    color: #1D4ED8;
    padding: 50px;
}
.title-1{
    font-size: 3rem;
    font-weight: 900;
    color: black;
}
.cat{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 40px;
}
.catbox{
    height: 130px;
    width: 250px;
    border: 1px solid #1D4ED8;
    border-radius: 10px;
}
.catbox h2{
    text-align: center;
    margin-top: 30px;
}
.catbox i{
    font-size: 2.5rem;
    position: relative;
    left: 40%;
    top: 10px;
}
.recruiter-features{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 60px;
}

.feature-box{
    height: 120px;
    width: 230px;
    border: 1px solid #1D4ED8;
    border-radius: 12px;
    text-align: center;
    padding: 20px;
    background-color: white;
    box-shadow: 0 10px 25px rgba(0,0,0,0.08);
    transition: 0.3s;
}

.feature-box:hover{
    transform: translateY(-6px);
}

.feature-box i{
    font-size: 40px;
    color: #1D4ED8;
    margin-bottom: 10px;
}
.footer-seeker{
    margin-top: 70px;
    height: 40px;
    text-align: center;
    width: auto;
    background-color: #1E3A8A;
    color: white;
    padding-top: 20px;
}
.search-bar{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 40px;
    flex-wrap: wrap;
}

.search-bar input{
    padding: 10px;
    width: 220px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
}

.search-bar button{
    padding: 10px 20px;
    background-color: #0073e6;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
}

.search-bar button:hover{
    background-color: #005bb5;
}

.photo-section{
display:flex;
align-items:center;
gap:20px;
padding: 20px;
}

.photo-section img{
width:80px;
height:80px;
border-radius:50%;
}

.form-row{
display:flex;
flex-wrap:wrap;
gap:20px;
padding: 20px;
}

.form-group{
display:flex;
flex-direction:column;
flex:1 1 20%;
}

.form-group label{
font-weight:600;
margin-bottom:5px;
}

.form-group input,select{
padding:10px;
border:1px solid #ccc;
border-radius:6px;
}
.form-group select{
    width: 350px;
    margin-top: -2px;
}
.btn-group{
    display: flex;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
}

.save-btn,
.reset-btn{
    flex: 1;
    height: 50px;
    border: none;
    border-radius: 20px;
    font-size: 16px;
    cursor: pointer;
}

.save-btn{
    background: #28A745;
    color: white;
}

.reset-btn{
    background: #007bff;
    color: white;
}
.form-grouping{
padding:10px;
border-radius:6px;
display:flex;
flex-direction:column;
flex:1 1 100%;
font-weight: 600;
}

.work-exp-block{
padding:10px;
margin-top:20px;
width: 100%;
}

.work-exp-block h3{
margin-bottom:15px;
}

.work-grid{
display:grid;
grid-template-columns: 1fr 1fr 1fr;
gap:20px;
}

.form-group{
display:flex;
flex-direction:column;
}

.full-width{
grid-column:1/4;
}

input,select,textarea{
padding:8px;
border:1px solid #ccc;
border-radius:4px;
}
.main-container{
display:flex;
align-items:flex-start;
gap:30px;
padding:20px;
}

/* Sidebar */
.filter{
    width: 240px;
    min-width: 240px;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 80vh;
    overflow-y: auto;
}

/* Job section */
.jobs{
flex:1;
}

/* Checkbox layout */
.form-group{
margin-bottom:20px;
}

.form-group h2{
margin-bottom:10px;
font-size:22px;
font-weight: 100;
}

.form-group label{
display:block;
margin-bottom:8px;
cursor:pointer;
font-size:18px;
font-weight: 100;
}

.form-group input{
margin-right:8px;
}

.filter-btn{
margin-left:20px;
padding:8px 16px;
background:#0d6efd;
color:white;
border:none;
border-radius:5px;
cursor:pointer;
}

.hidden{
display:none;
}

.card-container {
    display: flex;
    gap: 40px;
    padding: 20px;
}

.card {
    flex: 1;
    background: #f4f6f9;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 2px 8px rgba(218, 228, 253, 0.1);
    transition: 0.3s;
}

.card:hover {
    transform: translateY(-5px);
}

.card h3 {
    margin-bottom: 10px;
    color: #2c3e50;
}

.card h1 {
    font-size: 40px;
    margin: 10px 0;
    color: black;
}

.card p {
    color: #6c7a89;
}
.usage-box {
    width: 360px;
    font-family: Arial;
    height: 250px;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(58, 58, 58, 0.1);
    margin-top: 20px;
    padding: 30px;
    margin-left: 25px;
}

.item {
    margin-bottom: 20px;
}

.label {
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.bar {
    width: 100%;
    height: 10px;
    background: #eee;
    border-radius: 10px;
}
.data{
    font-size: 1.3rem;
}

.fill {
    height: 100%;
    border-radius: 10px;
}

.blue { background: #6c63ff; }
.orange { background: #f4b400; }
.yellow { background: #ff4d6d; }

.job-card{
    width: 360px;
    font-family: Arial;
    height: 250px;
    line-height: 40px;
    border-radius: 10px;
    border-left: 5px solid orange;
    box-shadow: 0 2px 8px rgba(58, 58, 58, 0.1);
    margin-top: 20px;
    padding: 30px;
    margin-left: 25px;
}
.report-cont{
    display: flex;
    padding: 20px;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 30px;
}
.job-card h2{
    font-weight: normal;
}
.pie-chart {
    margin-top: 20px;
    width: 100%;              
    max-width: 380px;        
    height: 312px;            
    padding: 5px;
    padding-left: 50px;           
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(58, 58, 58, 0.1);
    box-sizing: border-box;  
}
canvas {
    width: 90% !important;
    height: auto !important;
}
table {
    width: 90%;
    margin: 30px 30px 30px 80px;
    border-collapse: collapse;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);

}

th {
    background-color: #f4f4f4;
}

th, td {
    text-align: center;
    padding: 15px;
    font-size: 1.2rem;
}
.jobs{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
}
.box-job{
    width: 350px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
    margin: 10px auto;
}

.box-job h1{
    font-size: 26px;
    color: #222;
    margin-bottom: 12px;
}

.box-job h2{
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.box-job h3{
    font-size: 18px;
    color: #666;
    margin: 8px 0;
    font-weight: normal;
}

.view{
    width: 100%;
    padding: 10px;
    margin-top: 15px;
    background: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

.box-job button:hover{
    background: #0056b3;
}
.main-container{
    display: flex;
    gap: 20px;
    align-items: flex-start;
    padding: 20px;
}

.filter{
    width: 240px;
    min-width: 240px;
    flex-shrink: 0;
    background: #ffffff;
    border: 1px solid #ddd;
    padding: 20px;
    border-radius: 8px;
    height: 80vh;
    overflow-y: auto;
}

.jobs{
    flex: 1;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
}

.box-job{
    width: 330px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.08);
}

@media (max-width: 768px){
    .main-container{
        flex-direction: column;
    }

    .filter{
        width: 100%;
        min-width: 100%;
        height: auto;
        overflow-y: visible;
    }

    .jobs{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 20px;
    }

    .box-job{
        width: 100%;
    }
}
.browse{
    width: 10%;
    padding: 10px;
    margin-top: 15px;
    margin-left: 15px;
    border: 1px solid #0056b3;
    color: black;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}
.job-container {
    display: flex;
    flex-wrap: wrap;          
    gap: 30px;
    padding: 30px;
    margin-top: 40px;
    justify-content: space-evenly; 
}

/* IMPORTANT FIX */
.mini-jobs {
    flex: 0 0 calc(33.33% - 20px); /* 3 per row */
    box-sizing: border-box;
    width: 280px;
    height: 290px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 30px;
}
.mini-jobs h1{
    font-size: 26px;
    color: #222;
    margin-bottom: 12px;
}

.mini-jobs h2{
    font-size: 24px;
    color: #444;
    margin-bottom: 10px;
}

.mini-jobs h3{
    font-size: 18px;
    color: #666;
    margin: 8px 0;
    font-weight: normal;
}
.section1{
    width: 80%;
    margin: 40px auto;
    padding: 30px;
    background: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    font-family: Arial, sans-serif;
}

.section1 h1{
    font-size: 30px;
    margin-bottom: 20px;
}

.section1 h2{
    font-size: 22px;
    margin-bottom: 25px;
    color: #555;
}

.grid{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    gap: 15px 40px;
    margin: 10px 0;
}

.item{
    font-size: 18px;
    padding: 10px 14px;
    border-radius: 8px;
}

.item span{
    font-weight: bold;
    color: #222;
}

.line{
    width: 100%;
    height: 1px;
    background: #ddd;
    margin: 15px 0;
}

.major-box h3{
    margin-bottom: 2px;
    color: #222;
    margin-top: 30px;
}

.major-box p{
    padding: 12px;
    border-radius: 8px;
    margin-bottom: 20px;
    line-height: 1.6;
    font-size: 18px;
}

.apply-btn{
    padding: 12px 28px;
    border: none;
    background: #007bff;
    color: white;
    border-radius: 8px;
    cursor: pointer;
    font-size: 17px;
}


.job-table {
    min-width: 1600px; /* force overflow */
    border-collapse: collapse;
}
.profile-container {
    max-width: 1200px;
    margin: auto;
    display: flex;
    gap: 25px;
    align-items: flex-start;
}

/* Left Card */
.left-card {
    width: 300px;
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
    text-align: center;
}
.company-logo img {
    width: 130px;
    height: 130px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #4f46e5;
    margin-bottom: 15px;
}

.left-card h2 {
    font-size: 24px;
    color: #2d2d2d;
    margin-bottom: 8px;
}

.industry {
    color: #666;
    font-size: 15px;
    margin-bottom: 8px;
}

.location {
    color: #4f46e5;
    font-size: 14px;
    margin-bottom: 18px;
}

.small-info {
    text-align: left;
    margin-bottom: 20px;
}

.small-info p {
    margin-bottom: 10px;
    font-size: 14px;
    color: #444;
}

/* Right Section */
.right-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.top-card,
.card {
    background: #fff;
    border-radius: 18px;
    padding: 25px;
    box-shadow: 0 4px 18px rgba(0,0,0,0.08);
}

.top-card h3,
.card h3 {
    margin-bottom: 20px;
    color: #2d2d2d;
    font-size: 22px;
}

.info-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
}

.info-grid label {
    display: block;
    font-size: 13px;
    color: #777;
    margin-bottom: 6px;
    font-weight: 600;
}

.info-grid p {
    font-size: 15px;
    color: #222;
}

.info-grid a {
    color: #4f46e5;
    text-decoration: none;
}

.info-grid a:hover {
    text-decoration: underline;
}

.bottom-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}

.details-list p {
    margin-bottom: 12px;
    font-size: 15px;
    color: #333;
}

.about-text {
    font-size: 15px;
    color: #444;
    line-height: 1.7;
}

.full-width {
    grid-column: 1 / -1;
}

/* Tags */
.tag-box {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin-top: 10px;
}

.tag-box span {
    background: #eef2ff;
    color: #4338ca;
    padding: 8px 14px;
    border-radius: 20px;
    font-size: 13px;
    font-weight: 500;
}

/* Responsive */
@media (max-width: 900px) {
    .profile-container {
        flex-direction: column;
    }

    .left-card {
        width: 100%;
    }

    .info-grid,
    .bottom-grid {
        grid-template-columns: 1fr;
    }
}
.side{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.side h2{
    margin-top: 20px;
    margin-bottom: 40px;
}

